* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul {
    background-color: green;
    text-align: center;
    padding: 20px;
}

header nav ul li {
    display: inline-block; 
    
}

header nav ul li a{
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}
header nav ul li a:hover{
    text-decoration: underline;
}

header img {
    width: 100%;

}

main section {
    width: 1200px;
    margin: auto;
    padding: 40px;
}

main section:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}
main section:nth-of-type(even) {
    background-color: green;
    color: white;
}

main section h1 {
    font-size: 35px;
    text-transform: uppercase;
}
main section p {
    margin: 20px 0;
    text-align: justify;
}

main section h2 {
    margin-top: 20px;
}

footer {
    padding: 30px;
    color: white;
    text-align: center;
}

