* {
    margin: 0px;
    padding: 0px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none; /*tirar o sublinhado*/
    padding: 5px 20px;
    display: inline-block; /*ele impede que seja estourado*/
}

a:hover {
    color: green;
    background-color: white;
}

ul {
    display: flex; /*menu horizontal, o mais tradicional*/
    flex-direction: row; /*deixa em linha*/
    justify-content: center;
    background-color: darkgreen;
}

ul li {
    list-style: none; /*tirar o estilo da lista*/
}

